.visualizer-container {
    position: absolute;
    bottom: -130%;
    right: 0;
    left: 0;
    text-align: center;
}

.visualizer-container__bar {
    display: inline-block;
    background: white;
    margin: 10 3px;
    width: 10px;
    opacity: 0.8;
}